body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mallanna, sans-serif;
}

/* Theme.js + App.js theme-related classes */
.light-mode {
  background: linear-gradient(45deg, rgb(100, 100, 250), rgb(200, 200, 200));
}

.dark-mode {
  background: linear-gradient(225deg, rgb(50, 50, 150), rgb(100, 50, 150));
}

.theme-text {
  position: absolute;
  top: 10%;
  left: calc(50% - 30px);
  font-size: 35px;
  font-weight: 100;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  animation: delayedFadeIn 10s
}

.theme-text:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* App.js */
.sphere-container {}

/* Styles for Intro.js */
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction {
  font-size: 50px;
  font-weight: 100;
  animation: fadeIn 5s;
}

.selection-list {
  display: flex;
  gap: 30px;
}

.circle-selection {
  font-size: 50px;
  animation: delayedFadeIn 4s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.circle-selection:hover {
  cursor: pointer;
  transform: scale(1.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Styles for Circle.js */

/* .circle {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate 8s linear infinite;
} */

.circle1 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate1 8s linear infinite;
}

.circle2 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate2 8s linear infinite;
}

.circle3 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate3 8s linear infinite;
}

.circle4 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate4 4s linear infinite;
}

.circle5 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate5 4s linear infinite;
}

.circle6 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate6 4s linear infinite;
}

.circle7 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate1 2s linear infinite;
}

.circle8 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate2 2s linear infinite;
}

.circle9 {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border: solid 3px;
  border-radius: 50%;
  animation: fadeIn 10s, rotate3 2s linear infinite;
}



/* @keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
} */

@keyframes rotate1 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotateY(60deg);
  }

  to {
    transform: rotateY(420deg);
  }
}

@keyframes rotate3 {
  from {
    transform: rotateY(120deg);
  }

  to {
    transform: rotateY(480deg);
  }
}

@keyframes rotate4 {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(540deg);
  }
}

@keyframes rotate5 {
  from {
    transform: rotateY(240deg);
  }

  to {
    transform: rotateY(600deg);
  }
}

@keyframes rotate6 {
  from {
    transform: rotateY(300deg);
  }

  to {
    transform: rotateY(660deg);
  }
}

/* Reset button */

.reset {
  position: absolute;
  top: 75%;
  left: calc(50% - 45px);
  font-size: 33px;
  font-weight: 100;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  animation: delayedFadeIn 10s
}

.reset:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* Shifting text for landscape on mobile */
@media only screen and (max-height: 700px) {
  .reset {
    top: 51%;
    left: calc(76% - 45px);
  }

  .theme-text {
    top: 50%;
    left: calc(22%)
  }
}